<!-- Python code to capture image  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{{ url_for('video') }}" width="50%"/>
</body>
</html>







































<!-- javascript code to capture image / -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <script src="http://hongru.github.io/proj/canvas2image/canvas2image.js"></script>
    <title>Document</title>
</head>
<body>

    <video id="webcam" autoplay playsinline width="640" height="480"></video>
    <canvas id="canvas" class="d-none"  ></canvas>
    <audio id="snapSound" src="audio/snap.wav" preload = "auto"></audio>
    <div id="my_camera"></div>
<form method="post" id="myForm" action="/text-reader"> -->
    <!-- <input type="image" id="img" name="x" src="img_submit.gif" alt="Submit" > -->
    
    <!-- <input type=button value="Take Snapshot" name="x" onClick="take_snapshot()" id="take-photo">
</form>

<script> 
    const webcamElement = document.getElementById('webcam');
    const canvasElement = document.getElementById('canvas');
    const snapSoundElement = document.getElementById('snapSound');
    const webcam = new Webcam(webcamElement, 'user', canvasElement, snapSoundElement);
    var canvas = document.getElementById("canvas");
    webcam.start()
    .then(result =>{
        console.log("webcam started");
    })
    .catch(err => {
        console.log(err);
    });

    function take_snapshot() {
    // take snapshot and get image data
    webcam.snap() -->
    <!-- // document.getElementById("img").innerHTML=canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
    // const myForm = document.getElementById("myForm");
    // myForm.submit();
    // console.log(x)
    // document.location.href = canvas.toDataURL("image/png" ).replace("image/png", "image/octet-stream");
    // var x = canvas.toDataURL("image/png");
    // document.getElementById('canvas').src=imgurl;
    // console.log("hi")
    // var x = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
    // document.location.href=x;
    
    // Canvas2Image.saveAsPNG(canvasElement ,);
    // Canvas2Image.saveAsPNG(x)
//  }


// </script>
// </body>
// </html> -->




